

<div class="customer">
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2190679807&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2190679807:51" alt="点击联系客服" title="点击联系客服" /></a>
</div>
<div class="customer2">
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2190679807&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2190679807:51" alt="点击联系客服" title="点击联系客服" /></a>
</div>
<div class="customer3">
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3161894345&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:3161894345:51" alt="点击联系客服" title="点击联系客服" /></a>
</div>
<div class="customer4">
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3161894345&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:3161894345:51" alt="点击联系客服" title="点击联系客服" /></a>
</div>
<div class="footer clearfix">
  <div class="foot-nav">
    <a target="_blank" href="/index.html">首 页</a>|
      <a target="_blank" href="<%linkurl("news")%>">新闻资讯</a>|
      <a target="_blank" href="<%linkurl("wytx")%>">网页特效</a>|
      <a target="_blank" href="<%linkurl("wymb")%>">网页模板</a>|
    <a target="_blank" href="<%linkurl("photo")%>">网页教程</a>|
      <a target="_blank" href="<%linkurl("pmjc")%>">平面教程</a>|
      <a target="_blank" href="<%linkurl("ymxz")%>">源码下载</a>
  </div>
  <div class="copyright">
    <p>版权所有 <%=site.company%> 渝ICP备12001141号-1 </p>
    <p>Copyright &copy; 2015-  Corporation,All Rights Reserved.</p>   
  </div>
</div>