<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>源码下载- {site.name}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{config.webpath}scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" charset="utf-8" src="<%templateskin%>/js/common.js"></script>
</head>

<body>
<!--Header-->
<%template src="_header.html"%>
<!--/Header-->

<div class="section clearfix">
  <div class="section clearfix">
  <div class="ntitle">
      <div class="course-down">
          <p>源码下载</p>
      </div>
      <!--<p class="nav">
          <a class="no-bg" href="#3">互联网媒体</a>
          <a href="#4">科技财经</a>
          <a href="#5">房产汽车</a>
      </p>-->
    </div>
</div>
</div>

<!--分类资讯-->
<%set DataTable categoryList=get_category_child_list(channel,0)%>
<%foreach(DataRow cdr in categoryList.Rows)%>
<div class="section clearfix">
  <div class="ntitle">
    <h2>
      <a href="<%linkurl("ymxz_list",{cdr[id]})%>">{cdr[title]}<em></em></a>
    </h2>
    <p>
      <!--小类-->
      <%set DataTable bcategoryList=get_category_child_list(channel,{strtoint({cdr[id]})})%>
      <%loop cdr2 bcategoryList%>
      <%if(cdr2__loop__id==1)%>
      <a class="no-bg" href="<%linkurl("ymxz_list",{cdr2[id]})%>">{cdr2[title]}</a>
      <%else%>
      <a href="<%linkurl("ymxz_list",{cdr2[id]})%>">{cdr2[title]}</a>
      <%/if%>
      <%/loop%>
    </p>
  </div>
  
  <div class="wrapper clearfix">
    <div class="sidebar-left">
      <div class="t-list">
        <ul>
          <%set DataTable dt=get_article_list(channel, {strtoint({cdr[id]})}, 4, "status=0 and img_url<>''")%>
          <%foreach(DataRow dr1 in dt.Rows)%>
          <li>
            <a class="img-box" title="{dr1[title]}" href="<%linkurl("ymxz_show",{dr1[id]})%>">
              <img src="{dr1[img_url]}" border="0">
            </a>
            <h3><a title="{dr1[title]}" href="<%linkurl("ymxz_show",{dr1[id]})%>">{dr1[title]}</a></h3>
            <p>{dr1[zhaiyao]}</p>
            <i>{dr1[add_time]}</i>
          </li>
          <%/foreach%>
        </ul>
      </div>
    </div>
    
    <div class="sidebar-right" style="padding-top:10px;">
      <ul class="rank-list">
        <%set DataTable hotList=get_article_list(channel, {strtoint({cdr[id]})}, 10, "status=0", "click desc,id desc")%>
        <%loop dr2 hotList%>
          <%if(dr2__loop__id==1)%>
            <li class="active">
          <%else%>
            <li>
          <%/if%>
          <span><%datetostr({dr2[add_time]},MM-dd)%></span>
          <i class="num">{dr2__loop__id}</i>
          <a href="<%linkurl("ymxz_show",{dr2[id]})%>">{dr2[title]}</a>
        </li>
        <%/loop%>
      </ul>
    </div>
    
  </div>
</div>
<%/foreach%>
<!--分类资讯-->

<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
    <script type="text/javascript">
        $(".nav li a").eq(6).addClass('animated jello').css("color", "#fff");
    </script>
</body>
</html>